<header>
    <nav>
        <a href="/">My brary</a>
        <ul>
            <li><a href="/authors">Auhtors</a></li>
            <li><a href="/authors/new">Add author</a></li>
        </ul>
    </nav>
</header>