<label>Name</label>
<input type="text" name ='name' value="<%= author.name %>">


<!-- we are making the input name to get the req from the server as 
 req.body.name it depends on the name of the input men el a5er  -->